.landingPageSection {

    height: 100vh;

    display: grid;
    place-items: center; 
    background-color: #D6BD98;

}

.landingPageSection div {
    display: grid;
    
    justify-content: center;
    
    

}

.headingOne {
    margin-bottom: 100px;
    color: #1A3636;
    font-size: xx-large;
}

.summary {
    background-color: rgba(26, 54, 54, 0.5);
    height: 100px;
    width: auto;
    padding: 25px 100px 25px 100px;
    border-radius: 5px;

}

.contacts {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr;
    background-color: rgba(26, 54, 54, 0.2);
    width: 100%;
    border-radius: 5px;

    color: #1A3636;
}
.contacts div img{
    
    height: 50px;
    width: 50px;
    border-radius: 50%;
}