.skillsSection {
    padding: 20px;
    text-align: center;
   
    
    max-width: 90%; 
    background: rgba(63, 78, 79, 0.85);
    margin: 5px;
   border-radius: 15px;
  }

  .headingTwo {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  @media (max-width: 480px) { 
    .skillsContainer {
      display: flex;
      justify-content: space-around; 
      gap: 20px; 
      flex-wrap: wrap; 
    }
  }
  

  
  @media (min-width: 1024px) { 
    .skilsContainer {
      margin: 0 auto;
    }
  }

  

  .skill {
    background: #ffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .skill p {
    margin: 0;  
    font-size: 1rem;
    font-weight: bold;
  }

