.skillsSection {
    padding: 20px;
    text-align: center;
    color: rgb(238, 238, 238);
    margin: 20px auto;
    max-width: 90%; 
  }

  .headingTwo {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .skillsContainer {
    display: flex;
    justify-content: space-around; 
    gap: 20px; 
    flex-wrap: wrap; 
  }

  .skill {
    background: rgba(57, 62, 70, 0.75);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .skill p {
    margin: 0;  
    font-size: 1rem;
    font-weight: bold;
  }

