* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Mulish', 'Arial', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: rgb(238, 238, 238);
    font-weight: bold;
    
    background-color: rgb(238, 238, 238);
    padding: 0 15px;

    z-index: 0;
    background-image: url(/WebsiteSources/Images/blueBlackBackground.avif);
    background-size: cover;
    background-position: center;
    
  }
