* {
    margin: 0 auto;
    padding: 0;
    
  }
  
  body {
    overflow-x: hidden;
    font-family: 'Playfair Display';
    line-height: 1.6;
    color: rgb(18, 18, 18);
    font-weight: bold;
    
    
    background: rgb(245, 245, 245);
    background-size: cover;
    

    z-index: 0;
    
    
    background-size: cover;
    background-position: center;
    
  }
 
