* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Mulish', 'Arial', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: rgb(238, 238, 238);
    font-weight: bold;
    
    background-color: rgb(238, 238, 238);
    padding-left: 10%;
    padding-right: 10%;

    z-index: 0;
    background-image: url(/WebsiteSources/Images/blueBlackBackground.avif);
    background-size: cover;
    background-position: center;
   
  }

  @media (max-width: 600px) {
    body{
        line-height: 1.2;
        font-size: small;
    }
}